@tailwind base;

@tailwind components;

@tailwind utilities;

.full-post {
  @apply mb-8;
  h2 {
    @apply text-3xl font-bold text-green-900 font-heading my-4;
  }

  p {
    @apply font-body my-4 font-light text-xl;
  }

  a {
    @apply text-green-500;
  }
  blockquote {
    @apply block p-4 text-teal-900 border-l-4 border-teal-900 font-heading italic text-xl;
  }
}

.blob-bg {
  background-image: url(/img/blob.svg), url(/img/blob-v.svg);
  background-repeat: no-repeat;
  background-position: 140px -8px;
  width: 100%;
}

.telegram-shadow:hover {
  background-color: #fff;
  box-shadow: 0 0 20px 10px #0fd, /* inner white */ 0 0 15px 20px #0fa,
    /* middle magenta */ 0 π0 20px 15px #0fc; /* outer cyan */
}

.featured-image-container {
  height: 380px;
}
